html{
    overflow-x: hidden;
}
body{
    background-image: url("windingroad.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: "Times New Roman", serif;

}
header {

    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #9769699c;
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}

nav{
    background-color: #200d02;
    height: 92px;
    align-content: center;
}
main {
    background-image: url("background.gif");
    background-color: white;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;

}
nav {
    background-color: #200d02;
    height: 92px;
    align-content: center;
 
}
main {
    background-image: url("background.gif");
    background-color: white;
    max-width: 100%;
    padding: 20px;
    margin: 20px auto;
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
}

nav ul li {;
    padding: 0 15px;
}
nav ul li a:hover {
    color: #007BFF;
}
nav a {
    text-decoration: none;
    color: #f5efb9;
    font-size: 1.5em;
    font-weight: bold;
}
audio {
    width: 500px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 34px;
}
footer {
    background-color:#b38e76;
    color: black;
    text-align: center;
    padding: 15px;
    border-top-color: #7b2a2a;
    border: solid;

}
header img { border-radius: 105px;
    width: 88px;
    height: 87px;}
main .music-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 8px;
    background-color: #ffffff4f;


}
.music-section .melanie-photo {
    box-shadow: 21px 7px 25px  #ffffff;
    transform: scale(1.5);
    margin: 55px 20px 0px 19px;
}
.Melanie-paragragh{
    align-content: center;
    align-self: end;
    box-shadow : 0px 2px 5px 0px #35312d
}
h1{
    padding-left: 40px;
}
h3{
    background-color: #46322b;
    padding: 4px;
    border: solid 1px black;
    box-shadow: 5px 10px 40px black;
    padding-left: 33px;
    font-size: 25px;
    color: wheat;
}
p {
    align-content: end;
    padding-left: 10px;
}
h2 {
    padding-top: 10px;
}

@media (max-width: 1440px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    main {
        padding: 15px;
        max-width: 850px;
        justify-self: center;

    }
}


@media  (max-width: 1440px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    main {
        padding: 15px;
        max-width: 850px;
        justify-self: center;

    }
}


@media  (max-width: 1024px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    main {
        padding: 15px;
        max-width: 700px;
        justify-self: center;

    }
}


@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    main {
        padding: 15px;
        max-width: 850px;
        justify-self: center;

    }
}


@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 5px;

    }

    nav ul li a {
        font-size: 1.1em;
    }

    main {
        padding: 15px;
        width: 280px;
        justify-self: center;
        
    }
   nav ul {
        flex-direction: column;
        align-content: center;
       gap: 11px;
    }
    nav{ height: 250px;}
    audio {
        width: 230px;}
}
